@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.btn {
	@apply font-bold !important;
}

.btn-primary {
	@apply bg-primary text-white font-bold !important;
}

.btn-secondary {
	@apply border-2 border-primary rounded-md text-primary bg-transparent font-bold !important;
}

.btn-transparent {
	@apply bg-transparent text-primary !important;
}

.btn-disabled {
	@apply text-primary-600 border-2 border-dashed border-primary bg-transparent
}

.form-label {
	@apply text-white-5 text-base;
}

.input {
	@apply h-[55px] bg-white border-2 border-primary-100 rounded-lg py-4 px-3 text-primary read-only:bg-gray-200
}

input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
	background: transparent;
	bottom: 0;
	color: transparent;
	cursor: pointer;
	height: auto;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}

.input.has-error {
	@apply border-red-500
}

.modal.modal-lg .modal-body {
	@apply min-w-[1134px];
}

* {
	padding: 0;
	margin: 0;
}